<h1>Aptitudes</h1>
<hr>

{# <a href="{{ path('admin_aptitudes_show', {'id': 'new'}) }}"><button type="button" class="btn btn-primary my-2">Create new</button></a> #}
<div class="mb-4">
    {{ form_start(form_aptitude) }}
        {{ form_widget(form_aptitude) }}
        <input class="form-control btn btn-primary" type="submit" value="Add"/>
    {{ form_end(form_aptitude) }}
</div>

<table class="table table-light table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th class="col-1 text-center">Edit</th>
            <th class="col-1 text-center">Delete</th>
        </tr>
    </thead>

    <tbody>
    {% for aptitude in aptitudes %}
        <tr>
            <td>{{ aptitude.name }}</td>
            <td class="text-center"><a href="{{ path('admin_aptitudes_show', {'id': aptitude.id}) }}" rel="noopener"><button type="button" class="btn btn-primary">Edit</button></a></td>
            <td class="text-center"><a href="{{ path('admin_aptitudes_delete', {'id': aptitude.id}) }}" rel="noopener"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete it?')">Delete</button></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
