{% if interests is defined and interests|length > 0 %}
    <section id="expertises__interests" class="expertise">
        <h2 class="expertise__title">INTÉRÊTS</h2>

        <div class="expertise__desc">
            {% for interest in interests %}
                <p><i class="{{ interest.icon }}"></i> &nbsp;&nbsp; {{ interest.name }}</p>
            {% endfor %}
        </div>

    </section>
{% endif %}
