{% if portfolios_pro is defined and portfolios_pro|length > 0 %}
    <section id="resume__projects" class="resume__projects">
        <h1 class="resume__title">Portfolio Professionnel</h1>

        <section class="projects__gallery">

            {% for portfolio in portfolios_pro %}
                {% set regex = '{(https:\/\/www.youtube.com\/|https:\/\/youtu.be\/)}'  %}

                <figure class="gallery__figure">
                    {% if portfolio.description is defined and portfolio.description matches regex  %}
                        <a href="#" data-toggle="modal" data-target="#videoModal" data-content="{{ portfolio.description }}">
                    {% endif %}

                    <img src="{{ asset(portfolio_directory ~ portfolio.image) }}" alt="Image {{ portfolio.name }}" class="gallery__image">

                    {% if portfolio.description is defined and portfolio.description matches regex  %}
                        </a>
                    {% endif %}

                    <figcaption class="gallery__figcaption">{{ portfolio.caption }}</figcaption>
                </figure>
            {% endfor %}
            
        </section>

    </section>
{% endif %}
