{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    {% include 'main/_header.html.twig' %}

    <main>
        <section class="resume">

            {% include 'main/_experiences.html.twig' %}

            {% include 'main/_portfolios_pro.html.twig' %}

            {% include 'main/_portfolios_perso.html.twig' %}

            {% include 'main/_trainings.html.twig' %}
        </section>

        <section class="expertises">

            {% include 'main/_skills.html.twig' %}

            {% include 'main/_aptitudes.html.twig' %}

            {% include 'main/_softs.html.twig' %}

            {% include 'main/_languages.html.twig' %}

            {% include 'main/_interests.html.twig' %}
        </section>

        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="videoModalTitle">Description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <iframe width="100%" height="433" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-center">
        <div>
            <a href="{{ path('home_pdf') }}" rel="noopener noreferrer">View the print version</a>
        </div>
    </footer>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
