{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    {% include 'main/_header.html.twig' %}

    <main>
        <section class="resume">

            {% include 'main/_experiences.html.twig' %}

            {% include 'main/_portfolios_pro.html.twig' %}

            {% include 'main/_portfolios_perso.html.twig' %}

            {% include 'main/_trainings.html.twig' %}
        </section>

        <section class="expertises">

            {% include 'main/_skills.html.twig' %}

            {% include 'main/_aptitudes.html.twig' %}

            {% include 'main/_softs.html.twig' %}

            {% include 'main/_languages.html.twig' %}

            {% include 'main/_interests.html.twig' %}

            <section id="expertises_particularities" class="expertise">
                <h2 class="expertise__title">PARTICULARITÉS</h2>
                <div class="expertise__desc">
                    <p>
                        <a name="surdoue" id="surdoue" class="btn btn-outline-warning" href="https://www.davidsongifted.org/Search-Database/entry/A10495" target="_blank" rel="noopener noreferrer" role="button">Surefficient mental</a>
                    </p>
                </div>
            </section>
        </section>

        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="videoModalTitle">Description</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe width="100%" height="433" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
