<h1>My information</h1>
<hr>

<form enctype="multipart/form-data" action="{{ path('admin_info_update') }}" method="post">
    <div class="form-group row">
        <label class="col-1 col-form-label" for="inputName">Name</label>
        <div class="col-11">
            <input type="text" class="form-control" id="inputName" name="name" aria-describedby="nameHelp" placeholder="{{ info.name is defined ? info.name : 'Enter the name to be displayed' }}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-1 col-form-label" for="inputTitle">Title</label>
        <div class="col-11">
            <input type="text" class="form-control" id="inputTitle" name="title" placeholder="{{ info.title is defined ? info.title : 'Title of the CV' }}">
        </div>
    </div>
    <div class="custom-file mb-3">
        <label class="custom-file-label" for="inputPhoto">Photo to display on the CV</label>
        <input type="file" class="custom-file-input" id="inputPhoto" name="photo">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
