body {
  background-color: #FFF;
  color: #17181C;
}

a {
  color: #4B75E5;
}

a:hover {
  color: #BDBEC4;
}

.header__desc {
  max-width: 75%;
}

.contact__text {
  flex-basis: 50%;
}

.resume__title {
  border-bottom: .1875rem solid #17181C;
}

.resume__company {
  color: #4B75E5;
}

.resume__link {
  color: #4B75E5;
}

.resume__experiences section:first-of-type .resume__date span {
  color: #6F116F;
}

.experiences__experience {
  border-bottom: 1px solid #17181C;
}

.project {
  border-bottom: 1px solid #17181C;
}

.formations__formation {
  border-bottom: 1px solid #17181C;
}

.expertise__title {
  border-bottom: 3px solid #17181C;
}

.skill__title {
  color: #4B75E5;
}

.lang__title {
  color: #4B75E5;
}
