body {
  background-color: #17181C;
  color: #E5F0FF;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

img {
  width: 100%;
}

section {
  width: 100%;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 100%;
  padding: 1rem;
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header__desc {
  display: flex;
  flex-wrap: wrap;
}

.header__photo {
  text-align: center;
}

.desc__contact {
  display: flex;
  flex-wrap: wrap;
}

.desc__photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 1rem;
}

.contact__text {
  flex-basis: 33%;
}

.contact__link {
  color: #B48A1A;
}

.contact__link:hover {
  color: #BDBEC4;
  text-decoration: none;
}

.main {
  width: 100%;
}

.resume__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2em;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1875rem solid #E5F0FF;
}

.resume__subtitle {
  text-transform: uppercase;
  font-size: 1.35em;
}

.resume__company {
  text-transform: uppercase;
  font-size: 1em;
  color: #B48A1A;
  font-weight: bold;
}

.resume__link {
  color: #B48A1A;
}

.resume__link:hover {
  color: #BDBEC4;
  text-decoration: none;
}

.resume__date {
  display: flex;
  flex-wrap: wrap;
}

.resume__date i {
  margin-right: .5rem;
}

.resume__date span {
  min-width: 90%;
}

.resume__experiences {
  margin-bottom: 3rem;
}

.resume__experiences section:first-of-type .resume__date span {
  color: lightgreen;
}

.experiences__experience {
  border-bottom: 1px solid #E5F0FF;
  margin-bottom: 1rem;
}

.experiences__experience:last-child {
  border-bottom: unset;
}

.resume__projects {
  margin-bottom: 2rem;
}

.gallery__figcaption {
  margin-top: .25rem;
  text-align: center;
  font-size: 0.85em;
  font-style: italic;
}

.project {
  border-bottom: 1px solid #E5F0FF;
  margin-bottom: 1rem;
}

.project:last-child {
  border-bottom: unset;
}

.resume__formations {
  margin-bottom: 2rem;
}

.formations__formation {
  border-bottom: 1px solid #E5F0FF;
  margin-bottom: 1rem;
}

.formations__formation:last-child {
  border-bottom: unset;
}

.expertise__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2em;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid #E5F0FF;
}

#expertises__techno .expertise__desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.expertise__desc {
  text-transform: uppercase;
}

.skill__title {
  color: #B48A1A;
  font-weight: bold;
  text-transform: uppercase;
}

.skill__button {
  margin: 0 0.5em 0.5em 0;
}

.lang__desc {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: center;
}

.lang__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 60%;
}

.lang__title {
  margin-bottom: 0;
  color: #B48A1A;
  font-weight: bold;
  text-transform: uppercase;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .header__desc {
    max-width: 65%;
  }

  .header__photo {
    align-self: center;
  }

  .desc__contact {
    width: 100%;
  }

  .resume__date span {
    min-width: unset;
    margin-right: 1.5rem;
  }

  .projects__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery__figure {
    flex-basis: 48%;
    align-self: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    flex-wrap: nowrap;
  }
  .gallery__figure {
    flex-basis: 32%;
  }
}

/* arge devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main {
    display: flex;
    flex-wrap: nowrap;
  }

  .header__desc {
    max-width: unset;
  }

  .header__photo {
    max-width: 25%;
    align-self: center;
  }

  .desc__subtitle {
    margin-top: -1.5rem;
  }

  .resume {
    margin-right: 2rem;
  }

  .expertises {
    max-width: 25%;
  }

  .expertise {
    margin-bottom: 1.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .desc__subtitle {
    margin-top: -2rem;
  }
  
  .resume {
    margin-right: 3rem;
  }

  .expertise {
    margin-bottom: 2.5rem;
  }
}
