{% extends 'admin/base.html.twig' %}

{% block title %}CV Admin - Add a new training{% endblock %}

{% block body %}

{% if training.title != '' %}
<h1>Edit the training: {{ training.title }}</h1>
{% else %}
<h1>Add a new training:</h1>
{% endif %}
<hr>

<div>
    {{ form_start(form_training) }}
        {{ form_widget(form_training) }}
        {% if training.title != '' %}
        <input class="form-control btn btn-primary" type="submit" value="Edit"/>
        {% else %}
        <input class="form-control btn btn-primary" type="submit" value="Add"/>
        {% endif %}
    {{ form_end(form_training) }}
</div>

{% endblock %}
