{% extends 'admin/base.html.twig' %}

{% block title %}CV Admin - Edit a contact information{% endblock %}

{% block body %}

{% if contact.name != '' %}
<h1>Edit the contact: {{ contact.name }}</h1>
{% else %}
<h1>Edit a contact information:</h1>
{% endif %}
<hr>

<div>
    {{ form_start(form_contact) }}
        {{ form_widget(form_contact) }}
        {% if contact.name != '' %}
        <input class="form-control btn btn-primary" type="submit" value="Edit"/>
        {% else %}
        <input class="form-control btn btn-primary" type="submit" value="Add"/>
        {% endif %}
    {{ form_end(form_contact) }}
</div>

{% endblock %}
